<div class="card">
  <div
    class="card-header"
    [class.is-hovered]="isHovered()"
    [class.is-dependency]="isDependency()"
  >
    @if (scope()) {
      <span class="scope">{{ scope() }}</span
      >/
    }
    <span class="name">{{ nameWithoutScope() }}</span>
  </div>
  <div class="card-body">
    <div class="downloads">
      {{ package().weeklyDownloads | countFormat }} downloads
    </div>
    <div class="dependencies">
      {{ package().dependencyCount | countFormat }}
      {{ package().dependencyCount === 1 ? "dependency" : "dependencies" }}
    </div>
  </div>
</div>
